<div class="grid m-0 p-0">
  <div class="col-6 md:col-3">
    <p-card header="Card 1">
      <div class="border-1 border-300 border-round p-3 surface-100 shadow-2">
        <div class="text-xl mb-3">
          @if (isDarkMode) {
            Lara indigo dark 🌚
          } @else {
            Lara indigo light 🌞
          }
        </div>
        <p-inputSwitch
          [ngModel]="isDarkMode"
          (ngModelChange)="toggleLightDark()"
        />
      </div>

    </p-card>
  </div>

  <div class="col-6 md:col-3">
    <p-card header="Card 2">
    </p-card>
  </div>

  <div class="col-6 md:col-3">
    <p-card header="Card 3">
    </p-card>
  </div>

  <div class="col-6 md:col-3">
    <p-card header="Card 4">
    </p-card>
  </div>

  <div class="col-6 col-6">
    <p-card header="Tabla 1">
      <app-principal-table-example></app-principal-table-example>
    </p-card>
  </div>


  <div class="col-6 md:col-6">
    <p-card header="Calendario">
      <p-calendar
        styleClass="w-full"
        class="max-w-full"
        [(ngModel)]="date"
        [inline]="true"
        [showWeek]="true"/>
    </p-card>
  </div>

  <div class="md:col-12">
    <p-card header="Tabla 2">
      <app-principal-table-example></app-principal-table-example>
    </p-card>
  </div>
</div>


