<p-menu [model]="items" styleClass="md:w-12rem h-screen border-noround" class="layout-menu">
  <ng-template pTemplate="start">

  </ng-template>
  <ng-template pTemplate="submenuheader" let-item>
    <span class="text-primary font-bold">{{ item.label }}</span>

  </ng-template>
  <ng-template pTemplate="item" let-item>
    <a pRipple class="flex align-items-center p-menuitem-link">
      <span [class]="item.icon"></span>
      <span class="ml-2">{{ item.label }}</span>

      @if(item.badge){
      <p-badge class="ml-auto" [value]="item.badge" />
      }
      @if(item.shortcut){
        <span  class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">
                {{ item.shortcut }}
            </span>
      }

    </a>

  </ng-template>
  <ng-template pTemplate="end">
    <div class="pb-0 flex justify-content-center align-content-center">
      <app-theme-selector></app-theme-selector>
    </div>
  </ng-template>

</p-menu>
