.grid-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  height: calc(100vh - 7rem);
}

.menu {
  width: 200px; // Ancho fijo del sidebar
  min-width: 200px; // Opcional, para manejar anchos mínimos
}

.main-container {
  display: flex;
}
