 <div class="p-8 shadow-5 border-none justify-content-center align-content-center w-full h-screen">
        <label class="font-medium mb-2 block">Email</label>
        <input pInputText id="username" type="text" placeholder="Email address" class="w-full mb-4" />

        <label  class="text-surface-900 dark:text-surface-0 font-medium mb-2 block">Password</label>
        <input pInputText id="password" type="password" placehoder="Password" class="w-full mb-4" />

        <div class="flex align-items-center justify-content-between mt-8 flex-wrap">
          <div class="flex align-items-center">
            <p-checkbox id="rememberme1" v-model="checked1" :binary="true" class="mr-2" />
            <label>Recordarme</label>
          </div>
          <a class="font-medium no-underline ml-2  text-primary text-right cursor-pointer">¿Olvidaste tu contraseña?</a>
        </div>

        <div class="mt-4">
        <p-button label="Sign In" icon="pi pi-user" class=" w-full" styleClass="bg-cyan-800 w-full" routerLink="main" ></p-button>
        </div>
    </div>
