@use "assets/styles/variables.scss" as var;

@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

body {
  background-color: var.$backgroundLienzo;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

span {
  font-family: var.$font-family;
}

th {
  font-family: var.$font-family;
}

tr {
  font-family: var.$font-family;
  font-size: 14px
}

.p-card{
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08),
    0px 6px 8px rgba(0, 0, 0, 0.1),
    0px 2px 8px -2px rgba(0, 0, 0, 0.2) !important;

    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: var.$font-family;
}

@media screen and (max-width: 760px) {
  .ocultarEnMobile{
    display:none !important;
  }

}

@media screen and (max-width: 768px) {
  .ocultarEnTabletMini{
    display:none !important;
  }

}

